header .hamburger-icon {
    width: 25px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-left: auto; 
    padding: 10px;
}
header .hamburger-icon .bar {
    width: 25px;
    height: 3px;
    background-color: grey;
}
@media (max-width: 768px) {
    header .main-menu ul.menu {
        display: none;
    }
    header .hamburger-icon {
        display: flex; 
    }

    header .main-menu.active ul.menu {
        display: flex;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
        background-color: skyblue;
    }
}
.slider-container{
    width: 100%;
    height: 300px;
    background-color: #ddd;
}
.slider{
    width: 500px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid black;
    margin: 10px 0 0 30%;
    transition: transform 0.5s ease-in-out;
    background-color: green;
}
.slider p{
    text-align: center;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    color: white;
    display: block;
    margin-bottom: 10px;
}
.slid{
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    text-align: center;
    display: inline;
}
.dots-container {
    text-align: center;
    margin-top: 10px;
}
.dot {
    height: 10px;
    width: 10px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: alias;
    transition: background-color 0.3s ease;
}
.active {
    background-color: black;
}
.service{
    display: inline-flex;
    width: 100px; 
    border-radius: 0  50%  50% 0;   
    background-color: skyblue;
    margin-left: 500px;
    margin-top: -20px;
}
.service p{
    height: 15px;
    font-size: 15px;
    margin-bottom: 20px;
}
.info{
    text-align: center;
}
h2 span{
    color: skyblue;
}
h2{
    font-size: 30px;
}