html,
body{
    overflow: hidden;
    margin-bottom: 10px;
}
.login-img{
    height: 70px;
    border-bottom: 2px solid gainsboro;
    margin-bottom: 50px;
}
img{
    display: cover;
}
.login-form{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.login-form input{
    padding: 15px 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid gainsboro;
}
p{
    text-align: right;
    color: grey;
}
.login-form input:not([type="submit"]){
    color: black;
    transition: border-color .3s ease-in-out;
}
        .popup-toast {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            padding: 10px;
            border-radius: 5px;
            z-index: 9999;
        }

        .login-form.submitted .popup-toast {
            display: block;
        }